@CHARSET "UTF-8";
<!-- page -->
DIV.meneame {
	PADDING-RIGHT: 7px; 
	PADDING-LEFT: 7px;
	PADDING-BOTTOM: 7px; 
	PADDING-TOP: 7px;
	MARGIN: 3px; 
	TEXT-ALIGN: center;
}
DIV.meneame A {
	 PADDING-RIGHT: 5px; 
	 PADDING-LEFT: 5px; 
	 PADDING-BOTTOM: 2px; 
	 PADDING-TOP: 2px; 
	 MARGIN: 2px;
	 COLOR: white; 
	 TEXT-DECORATION: none; 
	 background-color: #808080;
}
DIV.meneame A:hover {
	 COLOR: black; 
	 BACKGROUND-COLOR: dimgray;
}
DIV.meneame A:active {
	  COLOR: #fff; 
	  BACKGROUND-COLOR: #000
}
DIV.meneame SPAN.current {
	 PADDING-RIGHT: 5px;  
	 PADDING-LEFT: 5px; 
	 PADDING-BOTTOM: 2px; 
	 PADDING-TOP: 2px;  
	 MARGIN: 2px;  
	 COLOR: #fff; 
	 BACKGROUND-COLOR: #000000;
	 FONT-WEIGHT: bold; 
}
DIV.meneame SPAN.disabled {
	 PADDING-RIGHT: 5px;
	 PADDING-LEFT: 5px;
	 PADDING-BOTTOM: 2px; 
	 PADDING-TOP: 2px; 
	 MARGIN: 2px; 
	 COLOR: #ddd; 
}